@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
body { font-family: 'Roboto', sans-serif; font-weight: normal; font-style: normal; color: #6A6972; overflow-x: hidden;}
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
img { max-width: 100%;}
a:focus, input:focus, textarea:focus, button:focus { text-decoration: none; outline: none;}
a:focus, a:hover { text-decoration: none;}
i, span, a { display: inline-block;}
audio, canvas, iframe, img, svg, video { vertical-align: middle;}
h1, h2, h3, h4, h5, h6 { font-family: "Roboto", sans-serif; font-weight: 700; color: #2E2E2E; margin: 0px;}
h1 { font-size: 48px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 22px;}
h5 { font-size: 18px;}
h6 { font-size: 16px;}
ul, ol { margin: 0px; padding: 0px; list-style-type: none;}
p { font-size: 16px; font-weight: 400; line-height: 26px; color: #6A6972; margin: 0px;}
.ss-header-title h3, .ss-video h3 { letter-spacing: 0.16em; font-size: 22px; font-weight: 800; text-align: center; padding: 14px;}
.lt-menu p, .rt-menu p { letter-spacing: 0.1em; font-size: 10px;}
.lt-menu p { margin-left: 4px;}
.rt-menu p { line-height: 20px;}
.lt-menu img { width: 34px;}
.rt-menu .ss-rt-flex_1 img { width: 39px; display: block; margin-left: auto; margin-right: auto;}
.rt-menu .ss-rt-flex_2 img { width: 32px;}
.rt-menu { display: flex; justify-content: flex-end;}
.ss-rt-flex_1 { margin-right: 50px;}
header .container { padding: 16px 30px 4px;}
header { box-shadow: 2px 2px 4px 1px #0000000f;}
.ss-background {
    background-image: url(../images/bg-img.jpg);
    height: 699px;
    background-repeat: no-repeat;
    background-size: cover;
}
.ss-background h2 {
    font-size: 60px;
    color: #ffffff;    
}
.ss-background button {
    background-color: rgba(255,255,255,0.27);
    border: 1px solid #ffffff;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1em;
    position: relative;
    left: 10%;
    top: 35px;
    font-size: 15px;
    padding: 16px 23px;
}
.ss-txt {
    position: relative;
    top: 38%;
    left: 5%;
}
.ss-background button:after {
    background-image: url(../images/play.png);
    padding: 18px;
    background-repeat: no-repeat;
    background-size: 27px;
    position: relative;
    content: "";
    position: relative;
    top: 14px;
    left: 4px;
}
.ss-form img {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ss-form h3 { letter-spacing:0.037em; font-size: 22px; font-weight: 800; text-align: center;}
.ss-form { padding: 110px 0;}
select#idioma, select#pais {
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 8.5px 46px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.032em;
}
.ss-select, .ss-btn {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
}
select#idioma {
    margin-right: 10px;
}
a.ss-call, a.ss-date {
    padding: 23px 21px;
    border-radius: 14px;
    letter-spacing: 0.16em; 
    font-size: 22px; 
    font-weight: 800; 
    text-align: center;
    color: #ffffff;
}
a.ss-call { background-color: #6fcf92; margin-right: 20px;}
a.ss-date { background-color: #000000;}
.ss-video h3:after {
    background-image: url(../images/play.png);
    padding: 18px;
    background-repeat: no-repeat;
    background-size: 27px;
    position: relative;
    content: "";
    position: relative;
    top: 17px;
    left: 4px;
}
.ss-video h3 {
    border: 2px solid #000000;
    width: 76%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ss-video {
    padding: 15px 0;
}
.ss-row-ig, .ss-row-ig-2, .ss-row-ig-3 {
    background-repeat: no-repeat;
    width: 500px;
    height: 618px;
}
.ss-row-ig { background-image: linear-gradient(0deg, #05010d59, #05090c5e), url(../images/product_ig_1.jpg);}
.ss-row-ig-2 { background-image: linear-gradient(0deg, #05010d59, #05090c5e), url(../images/product_ig_2.jpg);}
.ss-row-ig-3 { background-image: linear-gradient(0deg, #05010d59, #05090c5e), url(../images/product_ig_3.jpg);}
.ss-row-ig-4 { background-image: linear-gradient(0deg, #05010d59, #05090c5e), url(../images/showroom_ig.jpg); height: 784px;}
.ss-row-ig img, .ss-row-ig-2 img, .ss-row-ig-3 img {
    width: 55px; margin: 15px;
}
.ss-row-ig-4 img {
    width: 100px; margin: 15px;
}
.ss-row-ig h4, .ss-row-ig-2 h4, .ss-row-ig-3 h4 { letter-spacing:0.037em; font-size: 30px; font-weight: 800; text-align: center; color: #ffffff;}
.ss-row-ig-4 h4 { letter-spacing:0.037em; font-size: 36px; font-weight: 800; text-align: center; color: #ffffff;}
.ss-row-txt {
    width: 220px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 35%;
}
.ss-row-txt-1 {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 35%;
}
.ss-block-two,.ss-block-four {
    margin: 40px 0;
}
.ss-product h4 { letter-spacing:0.037em; font-size: 20px; font-weight: 800; text-align: center;     margin: 0 0 20px;}
.ss-product-list .ss-col-5 {
    width: 230px;
    height: 355px;
    box-shadow: 2px 3px 4px 0px #0000004a;
    font-family: "Roboto", sans-serif;
}
.ss-col-5 p, .ss-col-5 strong {
    font-size: 14px;
    text-align: center;
    width: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
}
.ss-col-5 strong { font-weight: 600;}
.ss-btn_1 a {
    background-color: #9f9070;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    padding: 10px 38.5px;
}
.ss-btn_1 {
    position: relative;
    top: 31px;
    display: flex;
    justify-content: center;
}
.ss-product-list .row {
    display: flex;
    justify-content: space-evenly;
}
.ss-fn-btn {
    margin: 20px 0;
    text-align: center;
}
.ss-fn-btn a {
    font-size: 14px;
    color: #000000;
    font-weight: 500;
}
@media only screen and (max-width: 1599px) {
    .ss-row-ig, .ss-row-ig-2, .ss-row-ig-3 { width:100%;}
    a.ss-call, a.ss-date { font-size: 20px;}
}